body{
    background-image: url(/pictures/markus-spiske-iar-afB0QQw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    
}

#heTitle{
    text-shadow:2px 2px blue;
}

#pgFont{
    text-shadow:2px 2px blue;
}

footer{
    text-shadow:2px 2px blue;
    color: white;
}

