body{
    background-image: url('markus-spiske-iar-afB0QQw-unsplash.jpg');
    background-size: cover;
    
}

#title{
    text-shadow:2px 2px blue;
}

footer{
    text-shadow:2px 2px blue;
    color: white;
}

